body {
  font-family: "Montserrat", sans-serif;
  font-size: small;
  background-color: antiquewhite;
}

table {
  width: 90vw;
  /*border: 1px solid red;*/
  text-align: left;
  max-height: calc(100vh - 300px);
  display: block;
  overflow: auto;
}

.fa-sharp.fa-solid.fa-eye {
  color: dimgray;
}

.fa-solid.fa-infinity {
  color: azure;
  font-size: 32px;
}

#disponible {
  background-color: chartreuse;
  border-radius: 15px;
}

#ocupado {
  color: beige;
  background-color: brown;
  border-radius: 15px;
}

td {
  padding: 10px;
  background-color: bisque;
  width: 100%;
  color: chocolate;
  font-size: small;
  font-style: italic;
}
td:nth-of-type(n + 2) {
  background-color: brown;
}
td:nth-of-type(n + 3) {
  background-color: aquamarine;
}

#autor {
  background-color: aliceblue;
}

#borrar-editar {
  display: flex;
  background-color: rgb(223, 215, 215);
}

/*input search libros*/
#searchcontainer {
  display: block;
  position: relative;
  float: inline-start;
  cursor: pointer;
  direction: rtl;
  padding-right: 20px;
}

input[type="search"] {
  border-radius: 20px;
  color: rgb(48, 55, 150);
  text-align: left;
  letter-spacing: 2px;
  text-shadow: 0 0 2px rgb(6, 146, 146);
  width: 7vw;
  transition: 1s;
  float: left;
  margin-top: -7px;
}

#input-search {
  padding-left: 5px;
  width: 75px;
}
#input-search:hover {
  width: 200px;
}

/*change color favicon search*/
#searchcontainer i {
  transition: 1s;
  padding-top: 6vh;
  padding-bottom: 2vh;
  padding-right: 4vw;
  color: rgb(134, 29, 29);
  display: contents;
  margin-top: 17px;
}
