table{
    border: 1px solid red;
    text-align: center;
}

a{
    text-decoration: none;
    
}

#disponible{
    background-color: aquamarine;
}

#ocupado{
    color: beige;
    background-color:brown;
}